*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*{
	margin:0;
	padding:0;
}
html,body{
	font-family:'Proxima Nova Light', sans-serif;
	font-size:100%;
	background-color: #fff;
	color:#1a1a1a;
	width:100%;
	
}
ul{
	list-style:none;
}
body a{
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
/*------grid------*/
.container{
	padding: 0 15px;
	margin: 0 auto;
	max-width:1024px;
	width:90%;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
/*------grid------*/

/*------header------*/
.header_bg{
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center top;
}
.banner{
	padding: 40px 0 0 0;
	text-align: center;
	position: relative;
	height:100vh;
}
.logo{
	display:block;
	float: left;
	background: url(../img/logo.png) no-repeat;
	text-indent:-99999px;
	width:224px;
	height:90px;
}
.header_nav{
	font-family: 'Proxima Nova Semibold', sans-serif;
	font-size: 18px;
	letter-spacing: 5px;
	float: right;
	margin:30px 0 0 0;
}
.header_nav ul{
	overflow: hidden;
}
.header_nav li{
	float: left;
	margin-right:65px;
}
.header_nav li:last-child{
	margin-right:0;
}
.header_nav li a{
	display: block;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;
	text-decoration: none;
}
.header_nav li.active a,
.header_nav li a:hover{
	color: #f84545;
	text-decoration: none;
}
.hedder_arrow{
	position: absolute;
	bottom:10%;
	left:0;
	right:0;
	background:url(../img/header_arrow.png) no-repeat; 
	width:84px;
	height:42px;
	margin:0 auto;
}
.header .title_section{
	position: absolute;
	left:0;
	right:0;
	top:40%;
}
/*------header------*/

/*------section_body_tiles------*/
.body_tiles{
	padding:80px 0;
}
.tiles_list{
	font-size:25px;
	font-family:'Proxima Nova Light', sans-serif;
	letter-spacing: 15px;
	text-transform: uppercase;
}
.row_top,
.row_bottom{
	overflow: hidden;
}
.row_top{
	padding:0 0 50px;
}
.col_left{
	float: left;
	width: 66.7%;
	padding-right: 10px;
}
.col_right{
	float: right;
	width:33.3%;
	padding-left:10px;
}
.col_right > div{
	margin: 0 0 52px;
}
.col_right > div:last-child{
	margin: 0;
}
.row_bottom .column{
	width:33.3%;
	float: left;
	padding:0 10px 0 0;
}
.row_bottom .column:last-child{
	padding:0 0 0 11px;
}
.tiles_list a{
	display: block;
	color: #fff;
	position: relative;
	overflow: hidden;
}
.tiles_title{
	position: absolute;
	left:0;
	bottom:0;
	z-index:15;
	transform:translateX(-100%);
	visibility: hidden; 
	transition: all 0.5s ease-in-out;
	padding:0 0 15px 15px;
}
.tiles_list a:hover .tiles_title{
	transform:translateX(0);
	visibility: visible;
}
.tiles_title span{
	display: block;
	margin-bottom:15px;
	background: url(../img/sprite_icon.png) no-repeat;
}
.tiles_list .visible img{
	-webkit-filter: brightness(0.9);
	-moz-filter: brightness(0.9);
	-o-filter: brightness(0.9);
	-ms-filter: brightness(0.9);
	filter: brightness(0.9);
	width:100%;
	height:auto;
	display: block;
}
.tiles_title .shop_1{
	width:200px;
	height:190px;
	background-position:0 -5px;
}
.tiles_title .shop_2{
	width:85px;
	height:100px;
	background-position:-214px -48px;
}
.tiles_title .shop_3{
	width:145px;
	height:103px;
	background-position:-313px -42px;
}
.tiles_title .shop_4{
	width:280px;
	height:70px;
	background-position:-464px -70px;
}
.tiles_title .shop_5{
	width:116px;
	height:100px;
	background-position:-767px -45px;
}
.tiles_title .shop_6{
	background: url(../img/sprite_icon.png) no-repeat;
	width:187px;
	height:108px;
	background-position:-904px -38px;
}
/*------section_body_tiles------*/

/*------section_instagramm------*/
.instagram{
	position: relative;
}
.album {
	margin:0 auto;
}
.album li{
	float:left;
	width:25%;
	margin:0 0 -1px -1px;
}
.album li > a{
	position: relative;
}
.album li > a{
	display: block;
	width: 100%;
	overflow: hidden;
}
.album .visible{
	-webkit-filter:opacity(0.93) brightness(0.4);
	-moz-filter:opacity(0.93) brightness(0.4);
	-o-filter:opacity(0.93) brightness(0.4);
	-ms-filter:opacity(0.93) brightness(0.4);
	filter:opacity(0.93) brightness(0.4);
}
.album .overlay{
	display: block;
	position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    left: 0;
    z-index: 10;
    text-align: center;
    background: rgba(248, 69, 69, 0.59);
    opacity: 0;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    -ms-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear; 
}
.album .overlay h3{
	color: #fff;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
	font-size: 24px;
	letter-spacing:3px;
	padding: 20px;
	word-wrap:break-word;
	text-align: center;
}
.album a:hover .overlay{
	opacity:1;
	filter: alpha(opacity=99);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
}
.instagram  .title_section{
	position: absolute;
	left:0;
	top:35%;
	width:100%;
	z-index:30;
	pointer-events: none;
}
.album .visible{
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	overflow: hidden;
}
.album .visible:before{
	content:'';
	float: left;
	display: block;
	width: 100%;
	margin-top:100% 
}
.album .visible{
	background-image: url(../img/img_01.jpg);
}
.album .visible_2{
	background-image: url(../img/img_02.jpg);
}
.album .visible_3{
	background-image: url(../img/img_03.jpg);
}
.album .visible_4{
	background-image: url(../img/img_04.jpg);
}
.album .visible_5{
	background-image: url(../img/img_05.jpg);
}
.album .visible_6{
	background-image: url(../img/img_06.jpg);
}
.album .visible_7{
	background-image: url(../img/img_07.jpg);
}
.album .visible_8{
	background-image: url(../img/img_08.jpg);
}
.header .title_section h2,
.instagram  .title_section h2{
	font-size:40px;
	line-height:70px;
	font-family:'Proxima Nova Light', sans-serif;
	letter-spacing:30px;
	color:#fff;	
	text-align: center;
	text-transform: uppercase;
}
.header .title_section strong,
.instagram  .title_section strong{
	font-size:30px;
	line-height:75px;
	font-family:'Proxima Nova Bold', sans-serif;
	letter-spacing:15px;
	color:#f84545;
	text-align: center;
	text-transform: uppercase;
	display: block;
}
.footer{
	font-family:'Proxima Nova Semibold', sans-serif;
	font-size:18px;
	line-height:40px;
	letter-spacing:5px;
	text-transform: uppercase;
	
}
/*------section_instagramm------*/

/*------footer------*/
.footer_holder{
	padding:50px 0;
}
.footer nav{
	float: left;
	
}
.footer_nav{
	overflow: hidden;
	text-align: center;
}
.footer_nav li{
	display: inline-block;
}
.footer_nav li a{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: #1a1a1a;
}
.footer_nav li a:hover{
	color:#f84545;;
	text-decoration: none;
}
.copyrait{
	float: left;
	margin:0 70px 0 0;
}
.social{
	float:right;
}
.social a{
	display: inline-block;
	text-decoration: none;
	width:27px;
	height:27px;
	margin:0 -10px 0 10px;
	text-align: center;
	background-image: url(../img/social_icon.png);
	background-repeat:no-repeat;
}
.insta{
	background-position:0 -2px;
}
.facebook{
	background-position:-60px 0;
}
.twitter{
	background-position:-119px -2px;
}
.social a:first-child{
	margin-left:0;
}
.social a:hover{
	opacity:0.8;
	text-decoration: none;
}
/*-------footer------*/

