// const 
@font-face {
    font-family: 'robotobold';
    src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
         url('../fonts/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
$fontFamily300:'robotolight';
$fontFamily400:'robotoregular';
$fontFamily500:'robotomedium';
$fontFamily600:'robotobold';
$fontSize:13px;
$lineHeight:23px;

$colorTurquoise:#e5f7fb;
$colorBlue:#00529c;
$colorLightBlue:#00b2d5;
$colorLightBlueHover:#26bddb;
$colorDarkBlue:#003769;
$colorDark:#202020;
$colorBlack:#000000;
$colorWhite:#ffffff;
$colorOrange:#f37021;
$colorOrangeHover:#f58542;
$colorGrayDark:#666666;
$colorGray:#999999;
$colorGrayLight:#e5edf5;
$colorDisable:#ababab;
$colorVk:#557aa1;
$colorFb:#3c5b9a;
$colorTw:#1da1f2;
$colorGp:#dd4b39;
$transition:0.2s linear;

$borderRadius:4px;
// end const
// mixin

// end mixin